node_modules
dist
.env
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*
combined.log
error.log

coverage/
coverage/lcov-report/
coverage/lcov-report/index.html
.env.supabase
.env.local
